/*Body*/

body {
    background-color: rgb(0, 0, 0);
}


/*Fin Body*/


/*Navbar*/

nav div.navbar-nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-left: auto;
    text-align: center;
}

nav div.busqueda form {
    justify-content: center;
    text-align: center;
}


/*Fin Navbar*/


/*Slice*/

section.slider {
    background: url("../images/seguridad1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/*Principal*/

section.principal {
    background-color: black;
    opacity: 0.8
}

section.principal h1 {
    text-align: center;
    color: white;
}

section.principal p {
    text-align: center;
    font-size: x-large;
    color: white;
}


/*Fin Principal*/


/*Form*/

section.formulario {
    background-color: rgb(32, 74, 102);
    opacity: 0.9;
    text-align: center;
}

section.formulario h2 {
    text-align: center;
    color: white;
    background-color: rgb(8, 43, 66);
    opacity: 0.9;
}

section.formulario form {
    color: white;
    padding: 15px;
    margin: 3px;
}


/*Fin form*/


/*Fin Slice*/